@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Employee Directory";

    var db = Database.Open("EmployeeDirectory");
    
    var empQuery = @"SELECT e.id,
                            e.first_name,
                            e.last_name,
                            e.birth_date,
                            e.email,
                            e.has_certification,
                            e.has_picture 
                       FROM employees e";
    var empResults = db.Query(empQuery);

    var phonesQuery = @"SELECT e.id,
	                           pt.name as Type,
                               p.number
                          FROM Employees e
                         INNER JOIN EmployeesPhones ep
                            ON e.id = ep.employee
                         INNER JOIN Phones p
                            ON ep.phone = p.id
                         INNER JOIN PhonesTypes pt
                            ON pt.id = p.type";
    var phonesResults = db.Query(phonesQuery);

    var locationQuery = @"SELECT e.id,
	                             l.abbreviation
                            FROM Employees e
                           INNER JOIN EmployeesLocations el
                              ON e.id = el.employee
                           INNER JOIN Locations l
                              ON l.id = el.location";
    var locationsResult = db.Query(locationQuery);

    var titlesQuery = @"SELECT e.id,
	                           t.name
                          FROM Employees e
                         INNER JOIN EmployeesTitles et
                            ON e.id = et.employee
                         INNER JOIN Titles t
                            ON t.id = et.title";
    var titlesResult = db.Query(titlesQuery);

    var certificationsQuery = @"SELECT e.id,
	                                   c.abbreviation
                                  FROM Employees e
                                 INNER JOIN EmployeesCertifications ec
                                       ON e.id = ec.employee
                                 INNER JOIN Certifications c
                                       ON c.id = ec.certification";
    var certificationsResult = db.Query(certificationsQuery);
}

<h1>It's a directory, y'all!</h1>

@foreach(var empResult in empResults){
    // Sorting result set
    var phones = phonesResults.Where(x => x.id == empResult.id);
    var locations = locationsResult.Where(x => x.id == empResult.id);
    var titles = titlesResult.Where(x => x.id == empResult.id);
    var certifications = certificationsResult.Where(x => x.id == empResult.id);
    
    // Initialize variables for display
    var displayName = "";
    var displayCert = "";
    var displayLocation = "";
    var displayTitle = "";
    var displayPicUrl="";
    var displayDob = "";
    
    // Combine data for display
    foreach(var cert in certifications){
        displayCert += cert.abbreviation + ", ";
    }
    displayName = empResult.first_name + " " + empResult.last_name + ", " + displayCert;
    displayName = displayName.TrimEnd(',',' ');
    foreach(var location in locations){
        displayLocation += location.abbreviation + ", ";
    }
    displayLocation = displayLocation.TrimEnd(',',' ');
    foreach(var title in titles){
        displayTitle += title.name + ", ";
    }
    displayTitle = displayTitle.TrimEnd(',',' ');
    displayPicUrl = "Images/";
    displayPicUrl += empResult.has_picture == true ? empResult.last_name + "_" + empResult.first_name : "placeholder";
    displayPicUrl += ".jpg";
    
    
    // Display
    <div>
        <img src="@displayPicUrl" height="100" width="75" alt="Placeholder" />
        <p>@displayName</p>
        <p>@displayLocation - @displayTitle</p>
    @foreach(var phone in phones) {
        <p>@phone.type: @phone.number</p>
    }
        @if(empResult.birth_date != null){
        <p>DOB: @empResult.birth_date</p>
    }
        <p>Email: @empResult.email</p>
    </div>
}
