@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Employee Directory";

    var db = Database.Open("EmployeeDirectory");
    var rowQuery = @"SELECT id FROM employees";
    var rowResults = db.Query(rowQuery);

    var empQuery = @"SELECT e.id,
                            e.first_name,
                            e.last_name,
                            e.birth_date,
                            e.email 
                       FROM employees e";
    var empResults = db.Query(empQuery);

    var phonesQuery = @"SELECT e.id,
	                           pt.name as Type,
                               p.number
                          FROM Employees e
                         INNER JOIN EmployeesPhones ep
                            ON e.id = ep.employee
                         INNER JOIN Phones p
                            ON ep.phone = p.id
                         INNER JOIN PhonesTypes pt
                            ON pt.id = p.type";
    var phonesResults = db.Query(phonesQuery);
}

<h1>It's a directory, y'all!</h1>

@foreach(var empResult in empResults){
    <div>
        <img src="#" height="100" width="75" alt="Placeholder" />
        <p>Name: @empResult.first_name @empResult.last_name</p>
        @{
            foreach(var phonesResult in phonesResults){
                if(phonesResult.id == empResult.id){
        <p>@phonesResult.type - @phonesResult.number</p>
                }
            }
        }
        <p>Location</p>
    @{if(empResult.birth_date != null){
        <p>DOB: @empResult.birth_date</p>      
    }
    }
        <p>Email: @empResult.email</p>    
    </div>
}
